body {
  min-width: 1200px;

}

/*** Map ***/

#map-panel {
<<<<<<< HEAD
  height: calc(100% - 400px);
=======
  height: calc(100% - 270px);
}

#map .entity {
  stroke-width: 2;
}

#map .entity.selected {
  stroke-width: 4;
>>>>>>> master
}

#map-panel .capacity-indicator {
  opacity: 0;
  stroke: none;
  fill: none;
}

#map-panel.show-utilization .capacity-indicator.under-capacity, #map-panel .capacity-indicator.over-capacity {
  opacity: 0.5;
}

#map-panel.show-utilization .capacity-indicator.under-capacity {
  fill: white;
}

#map-panel.show-utilization .capacity-indicator.over-capacity {
  fill: red;
}

/* see http://iros.github.io/patternfills/sample_css.html */
#svg-patterns { position: absolute; }
.unlocked { fill: transparent; }
.locked { fill: url(#locked-pattern); }

/*** Map controls ***/

#map-controls {
  padding: 5px;
}

#map-controls .form-group, #map-controls .checkbox {
  display: inline;
}

#map-controls .form-group {
  border-right: 1px solid lightgray;
  margin-right: 10px;
  padding-right: 5px;
}

#map-controls .form-group:last-child {
  border-right: none;
}


/*** Table ***/

#table-panel {
  height: 100%; overflow: scroll;
  background-color:lightgrey;
  border-spacing:10px;
}

#table-panel th {
  border-bottom-color:#a0a0a0;
}

#table-panel thead {
  background-color:white;

}
#table-panel tfoot {
  background-color:white;

}

#table-panel td {
  background-color: #ffffff !important;
  border-bottom: 5px solid;
  border-top: 5px solid;
  border-color:lightgrey;
  ;
  /*border-bottom: 10px solid white;*/
}

#table-panel tr td {
  /*border-top-color:10px solid black;*/

}

#table-panel tr td:first-child {
  /*border-top-color:10px solid black;*/
  border-left:8px solid lightgrey;

  -moz-border-radius-topleft: 11px;
  -moz-border-radius-bottomleft: 11px;
  -webkit-border-top-left-radius: 11px;
  -webkit-border-bottom-left-radius: 11px;

}

#table-panel tr td:last-child {
  /*border-top-color:10px solid black;*/
  border-right:5px solid lightgrey;

  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;

}

#detail--units{
  background-color:white;
  padding:50px 5px 0px 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-left:3px solid lightgrey;
  border-top:3px solid lightgrey;
  border-right:3px solid lightgrey;
  height:455px;
}

#detail--units h4 {
  font-family:sans-serif;
  font-size: 1.4em;
  color:#585858;
  margin:0px 0px 40px 5px;
}

#detail--units--controls{
  padding-bottom:10px;
}

#selected_units_table tr {
  font-family:sans-serif;
  color:#676767;

}

#selected_units_table tr td:first-child {
  font-family:sans-serif;
  font-size:1.2em;
  font-weight:300;
  color:#676767;
  padding:5px 0px 5px 0px;
}
#selected_units_table tr td:nth-child(2) {
  font-family:sans-serif;
  font-size:1.1em;
  font-weight:500;
  color:#676767;
  padding:5px 0px 5px 0px;
}

#detail--entity{
  background-color:white;
  padding:50px 5px 0px 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-left:3px solid lightgrey;
  border-top:3px solid lightgrey;
  border-right:3px solid lightgrey;
  height:455px;
}

#detail--entity h4 {
  font-family:sans-serif;
  font-size: 1.4em;
  color:#585858;
  margin:0px 0px 40px 5px;
}


#selected_entity_table tr {
  font-family:sans-serif;
  color:#676767;

}

#selected_entity_table tr td:first-child {
  font-family:sans-serif;
  font-size:1.2em;
  font-weight:300;
  color:#676767;
  padding:5px 0px 5px 0px;
}
#selected_entity_table tr td:nth-child(2) {
  font-family:sans-serif;
  font-size:1.1em;
  font-weight:500;
  color:#676767;
  padding:5px 0px 5px 0px;
}

#deselect_entity{

}

.fa-remove{
  color:#afafaf;
  font-size: 20px;

}

#detail--units--controls{

}

#deselect-entity{

}

.capacity-ok td:nth-child(5) { color: green; }
.over-capacity td:nth-child(5) { color: red; }
.under-capacity td:nth-child(5) { color: royalblue; }

.capacity-ok .glyphicon-remove { display: none; }
.over-capacity .glyphicon-ok, .under-capacity .glyphicon-ok { display: none; }

.change-up .glyphicon-arrow-down { display: none; }
.change-down .glyphicon-arrow-up { display: none; }
.no-change { color: transparent; }

#detail .entity-color-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 0 5px;
}

#table-panel td:nth-child(1) {
  position: relative;
}

#table-panel td:nth-child(1) .entity-color-indicator {
  display: inline-block;
  position: absolute;
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

/*** Tabs & Detail ***/

#tabs {
  margin-top: 2px;
}

.tab-pane {
  padding: 2px;
}

#selected_units, #selected_entity {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#detail--units, #detail--entity {
    position: relative;
    margin: 0 5px;
}

#detail--units h5, #detail--entity h5 {
  margin-bottom: 0;
}

#detail--units h4, #detail--entity h4 {
  margin-top: 0;
}

#detail--units--selected-units {
  margin-top: 10px;
}

#detail--units #deselect_units, #detail--entity #deselect_entity {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 2px;
    border: none;
    font-size: 1.2em;
    margin: 0 2px;
}

#detail--units--controls, #detail--entity--controls, #selected_units_table {
  display: none;
}

.units-selected #detail--units--controls, .units-selected #selected_units_table, .entity-selected #detail--entity--controls {
  display: block;
}

#detail--units--controls, #detail--entity--controls {
    margin: 5px 0;
}

#selected_entity_table td:first-child, #selected_units_table td:first-child {
  font-weight: bold;
}

#selected_entity_table .warning {
    color: red;
}

#about {
  padding: 5px;
}

#about--logos {
  text-align: center;
}

#about--logos img {
<<<<<<< HEAD
  max-height: 100px;
}
=======
  max-height: 80px;
}
>>>>>>> master
